nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 15px;
    border-right: 5px solid rgb(255, 0, 0);
    
}

nav li:last-child {
    border-right: none;
}

nav div{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: fit-content;
    margin: 0;
    padding: 0;
}

nav{
    background-color: lightgray;
    padding: 10px 50px;
    height: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
}

nav img{
    width: auto;
    height: 100%;
}

li a{
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}