
nav{
    background-color: rgb(255, 255, 150);
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
}
.navbar-nav{
    margin-left: auto;
}
#logo{
    width: 100px;
}
a img{
    width: inherit;
}


a:hover {
    background-color: rgb(255, 255, 204);
}

.active {
    background-color: rgb(255, 255, 204,0.8);
}