#RS{
    padding: 5%;
    background-color: #FFFFCC;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 25px;
    border: 1px solid #D6C6C5;
}
#dp{
    width: 50%;
    border-radius: 100%;
}