#form-input{
    border: 1px solid #D6C6C5;
    border-radius: 20px;
    margin: 50px;
}
#LS{
    border-right: 1px solid #D6C6C5;
    padding: 5%;
    
}
#RS{
    padding: 5%;
}
#dp{
    width: 50%;
    border-radius: 100%;
}